<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<head>
  <meta charset="UTF-8">
  <title>FullyStocked</title>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/manager">FULLYSTOCKED</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
      <ul class="navbar-nav m-auto">
        <li class="nav-item m-auto">
          <a class="nav-link active" href="/questions/manager/list">Одговори прашање</a>
        </li>
        <li class="nav-item m-auto">
          <a class="nav-link active" href="/orders/create">Креирај нарчка</a>
        </li>
        <li class="nav-item m-auto">
          <a class="nav-link active" href="/orders/manager/list">Прегледај нарачки</a>
        </li>
        <li class="nav-item m-auto">
          <a class="nav-link active" href="/articles/create">Внеси нови артикли</a>
        </li>
        <li class="nav-item m-auto">
          <a class="nav-link active" href="/articles/category/add">Додај категорија на производ</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li class="nav-item">
          <a class="btn btn-light btn-sm ml-3" href="/logout">
            <i class="fa fa-shopping-cart"></i> Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</header>
<div class="jumbotron">
  <h1 class="text-center">FullyStocked</h1>
  <hr />
  <h2 class="lead text-center">Добредојдовте на FullyStocked</h2>
  <h3 class="lead text-center"><b>Информации за менаџер</b></h3>
  <p class="lead text-center font-weight-bold">Име: <span th:text="${session.user.getFirstname()}"></span></p>
  <p class="lead text-center font-weight-bold">Презиме: <span th:text="${session.user.getLastname()}"></span></p>
</div>

<div class="row">
  <div class="col-md-8 offset-md-2 text-center">
    <h2>За апликацијата</h2>
    <p>
      This application will enable management, searching, review and assignment of tasks in an organization and will aim to facilitate all concerned and responsible employees in working with a large number of tasks...
    </p>
  </div>
</div>
</body>
</html>